.Button {
  height: 36px;
  width: fit-content;
  min-width: 64px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  letter-spacing: 0.08929em;
}

.Button:focus {
  outline: none;
}

.Button.type-contained,
.Button.type-text {
  border: none;
}

.Button.Button.type-outlined {
  border-width: 1px;
  border-style: solid;
}

.Button.type-outlined,
.Button.type-contained {
  padding: 0 16px;
}

.Button.type-text {
  padding: 0 8px;
}

.Button.type-contained {
  color: white;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.Button.type-contained:active {
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 /20%), 0px 8px 10px 1px rgb(0 0 0 /14%), 0px 3px 14px 2px rgb(0 0 0 /12%);
}

.Button.type-contained.color-yellow {
  color: black;
}

.Button.color-blue {
  background-color: #0047cb;
}

.Button.color-yellow {
  background-color: #ffd100;
}

.Button.color-pink {
  background-color: #ff0266;
}

.Button.type-contained:hover {
  filter: brightness(90%);
}

.Button.type-contained:focus {
  filter: brightness(80%);
}

.Button.type-contained:focus {
  filter: brightness(70%);
}
.Button.type-outlined,
.Button.type-text {
  background-color: #ffffff00;
}

.Button.type-outlined.color-blue,
.Button.type-text.color-blue {
  color: #0047cb;
  border-color: #0047cb;
}

.Button.type-outlined.color-blue:hover,
.Button.type-text.color-blue:hover {
  background-color: #0047cc1a;
}

.Button.type-outlined.color-blue:focus,
.Button.type-text.color-blue:focus {
  background-color: #0047cc33;
}

.Button.type-outlined.color-blue:active,
.Button.type-text.color-blue:active {
  background-color: #0047cc4d;
}

.Button.type-outlined.color-yellow,
.Button.type-text.color-yellow {
  color: #ffd100;
  border-color: #ffd100;
}

.Button.type-outlined.color-yellow:hover,
.Button.type-text.color-yellow:hover {
  background-color: #ffd0001a;
}

.Button.type-outlined.color-yellow:focus,
.Button.type-text.color-yellow:focus {
  background-color: #ffd00033;
}

.Button.type-outlined.color-yellow:active,
.Button.type-text.color-yellow:active {
  background-color: #ffd0004d;
}

.Button.type-outlined.color-pink,
.Button.type-text.color-pink {
  color: #ff0266;
  border-color: #ff0266;
}

.Button.type-outlined.color-pink:hover,
.Button.type-text.color-pink:hover {
  background-color: #ff02661a;
}

.Button.type-outlined.color-pink:focus,
.Button.type-text.color-pink:focus {
  background-color: #ff026633;
}

.Button.type-outlined.color-pink:active,
.Button.type-text.color-pink:active {
  background-color: #ff02664d;
}
