@import "../../App.scss";

.CaretRightSolid.color-pink {
  color: $main-pink;
}

.CaretRightSolid.color-blue {
  color: $main-blue;
}

.CaretRightSolid.color-yellow {
  color: $main-yellow;
}

.CaretRightSolid.color-red {
  color: #e30425;
}

.CaretRightSolid.disabled {
  color: #cccccc;
}
