.CaretUpSolid.color-pink {
  color: rgb(255, 2, 102);
}

.CaretUpSolid.color-blue {
  color: rgb(0, 71, 203);
}

.CaretUpSolid.color-yellow {
  color: rgb(255, 209, 0);
}

.CaretUpSolid.color-red {
  color: #e30425;
}
