.TextInput {
  min-width: 300px;
  font-size: 16px;
  padding: 20px 16px 6px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  background-color: rgba(0, 0, 0, 0.05);
  outline: none;
  letter-spacing: 0.08929em;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.TextInput.color-pink {
  caret-color: rgb(255, 2, 102);
}

.TextInput.color-blue {
  caret-color: rgb(0, 71, 203);
}

.TextInput.color-yellow {
  caret-color: rgb(255, 209, 0);
}

.TextInput.color-pink:focus {
  border-bottom-color: rgb(255, 2, 102);
}

.TextInput.color-blue:focus {
  border-bottom-color: rgb(0, 71, 203);
}

.TextInput.color-yellow:focus {
  border-bottom-color: rgb(255, 209, 0);
}
