@import "../../App.scss";

.SVGWrapper.color-pink {
  color: $main-pink;
}

.SVGWrapper.color-blue {
  color: $main-blue;
}

.SVGWrapper.color-yellow {
  color: $main-yellow;
}

.SVGWrapper.color-red {
  color: #e30425;
}

.SVGWrapper.disabled {
  color: #cccccc;
}
