@import "../../App.scss";

.RedoSolid.color-pink {
  color: $main-pink;
}

.RedoSolid.color-blue {
  color: $main-blue;
}

.RedoSolid.color-yellow {
  color: $main-yellow;
}

.RedoSolid.color-red {
  color: #e30425;
}
