.Page {
  padding: 60px 16px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.Page.color-blue {
  background-color: rgb(0, 71, 203);
  color: white;
}

.Page.color-yellow {
  background-color: rgb(255, 209, 0);
  color: black;
}

.Page.color-pink {
  background-color: rgb(255, 2, 102);
  color: white;
}

.Page.color-very-dark-blue {
  background-color: #1e1e2e;
  color: white;
}

.Page header {
  align-self: flex-start;
}

.Page h1 {
  min-height: 60px;
  font-size: 30px;
  font-weight: 600;
}
