.SelectPage.Page h1 {
  font-size: 30px;
  min-height: initial;
}

.SelectPage .cards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.SelectPage .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
