:root {
  --very-dark-blue: rgb(0, 38, 161);
  --dark-blue: rgb(0, 49, 175);
  --less-dark-blue: rgb(0, 60, 189);
  --main-blue: rgb(0, 71, 203);
  --less-light-blue: rgb(212, 222, 246);
  --light-blue: rgb(226, 233, 249);
  --very-light-blue: rgb(240, 244, 252);
  --very-dark-yellow: rgb(195, 176, 0);
  --dark-yellow: rgb(213, 190, 0);
  --less-dark-yellow: rgb(231, 204, 0);
  --main-yellow: rgb(255, 209, 0);
  --less-light-yellow: rgb(255, 239, 183);
  --light-yellow: rgb(255, 244, 207);
  --very-light-yellow: rgb(255, 249, 231);
  --very-dark-pink: rgb(214, 0, 75);
  --dark-pink: rgb(227, 0, 84);
  --less-dark-pink: rgb(240, 0, 93);
  --main-pink: rgb(255, 2, 102);
  --less-light-pink: rgb(255, 216, 228);
  --light-pink: rgb(255, 229, 237);
  --very-light-pink: rgb(255, 242, 246);
  --main-grey: rgba(0, 0, 0, 0.541);
}
