.HomePage {
  justify-content: space-between;
}

.HomePage .user-chips {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  gap: 16px;
}

.HomePage .buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
